
.positiveChange {
    color: green;
  }
  .positiveChange::after {
    content: '↑';
    color: green;
  }
  
  .negativeChange {
    color: red;
  }
  .negativeChange::after {
    content: '↓';
    color: red;
  }
  
  .neutralChange {
    color: gray;
  }
  .symbolStyle{
    color: #c92d82;
    font-weight: 700;
  }
  .priceStyle{
    font-weight: 700;
  }
  .nameStyle{
    font-weight: 700;
    transition: all 0.5s ease;
  }
  .nameStyle:hover{
    background-color: #c92d8345;
  }
  
  
  